@model IEnumerable<PullRequestsReport>
@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>

<table class="table">
    <caption>List of available reports</caption>
    <thead>
        <tr>
            <th>Profile name</th>
            <th>Taken</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.ProfileName</td>
                <td>@report.DateTaken</td>
                <td>@report.StartDate.ToString("MM/dd/yyyy")</td>
                <td>@report.EndDate.ToString("MM/dd/yyyy")</td>
                <td width="150">
                    <form class="form-inline" asp-action="Delete" method="post">
                        <a asp-action="View" asp-route-id="@report.Id" class="btn btn-success">View</a>
                        <input type="hidden" value="@report.Id" name="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

