@model ProfileViewModel
@{
    ViewData["Title"] = "Edit Profile";
    var membersPropertyName = Utils.GetNameForAllItems(typeof(TeamMember));
    var repositoriesPropertyName = Utils.GetNameForAllItems(typeof(VSTSRepository));
    var allMembers = ViewData[membersPropertyName] as IEnumerable<TeamMember>;
    var allRepositories = ViewData[repositoriesPropertyName] as IEnumerable<VSTSRepository>;
    var membersByTeam = allMembers.GroupBy(m => m.TeamName);
}

<h2>Edit Profile</h2>

<div class="alert alert-info" role="alert">
    <strong>Hint.</strong> Click on the repository or on the member to add them to the profile.
</div>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <fieldset>
            <legend>Repositories</legend>
            @foreach (var repo in allRepositories)
            {
                <label for="repo-@repo.Id">@repo.Name</label>
                <input type="checkbox" name="Repositories" value="@repo.Id" id="repo-@repo.Id" @(Model.Repositories!=null && Model.Repositories.Contains(repo.Id) ? "checked" : "") />
            }
        </fieldset>
        <span asp-validation-for="Repositories" class="text-danger"></span>
    </div>
    <div class="form-group">
        @foreach (var team in membersByTeam)
        {
            <div class="form-group">
                <fieldset>
                    <legend>@team.Key</legend>
                    @foreach (var member in team)
                    {
                        <label for="member-@member.Id">@member.DisplayName</label>
                        <input type="checkbox" name="Members" value="@member.Id" id="member-@member.Id" @(Model.Members!= null && Model.Members.Contains(member.Id) ? "checked" : "") />
                    }
                </fieldset>
            </div>
        }
        <span asp-validation-for="Members" class="text-danger"></span>
    </div>

    <input asp-for="Id" type="hidden" />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').checkboxradio({
                icon: false
            });
         });
    </script>
}