<EditableTable TItem="IdentityViewModel"
               GridTitle="Identities"
               NewTitle="New identity"
               ExistingTitle="Editing identity">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items">
            <TableHeader>
                <th>Name</th>
                <th>Expiration Date</th>
            </TableHeader>
            <RowTemplate Context="identity">
                <td>@identity.Name</td>
                <td>@identity.ExpirationDate</td>
            </RowTemplate>
            <ActionsTemplate Context="identity">
                <div>
                    <button class="btn btn-warning btn-fill" @onclick="@(() => ctx.Edit(identity))">Edit</button>
                    <button class="btn btn-danger btn-fill" @onclick="@(() => ctx.Delete(identity))">Delete</button>
                </div>
            </ActionsTemplate>
        </DataTable>
    </ListModeContent>
    <FormModeContent Context="ctx">
        <div class="form-group">
            <label>Name</label>
            <InputText Class="form-control" @bind-Value="ctx.EditingItem.Name" />
            <ValidationMessage For="@(() => ctx.EditingItem.Name)" />
        </div>
        <div class="form-group">
            <label>Token</label>
            <InputText type="password" Class="form-control" @bind-Value="ctx.EditingItem.Token" />
            <ValidationMessage For="@(() => ctx.EditingItem.Token)" />
        </div>
        <div class="form-group">
            <label>Expiration Date</label>
            <InputDate Class="form-control" @bind-Value="ctx.EditingItem.ExpirationDate" />
            <ValidationMessage For="@(() => ctx.EditingItem.ExpirationDate)" />
        </div>
    </FormModeContent>
</EditableTable>