<EditableTable TItem="JobLogViewModel"
               IsReadOnly="true"
               GridTitle="Job Logs"
               OnRecordsLoaded="@OnRecordsLoaded">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items" PageSize="8">
            <TableHeader>
                <th>Type</th>
                <th>Result</th>
                <th>Completed On</th>
                <th>Execution time</th>
                <th>Message</th>
            </TableHeader>
            <RowTemplate Context="log">
                <td>@log.JobType</td>
                <td>
                    @if (log.Result == ViewModels.Types.JobExecutionResult.InProgress)
                    {
                        <div class="text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div>Running</div>
                        </div>
                    }
                    else if (log.Result == ViewModels.Types.JobExecutionResult.Successful)
                    {
                        <span class="badge badge-success">Completed</span>
                    }
                    else if (log.Result == ViewModels.Types.JobExecutionResult.Failed)
                    {
                        <span class="badge badge-danger">Failed</span>
                    }
                    else
                    {
                        <span class="badge badge-primary">@log.Result</span>
                    }

                </td>
                <td>@(log.Result == ViewModels.Types.JobExecutionResult.InProgress ? string.Empty : log.CompletedOn.ToString())</td>
                <td>@(log.Result == ViewModels.Types.JobExecutionResult.InProgress ? string.Empty : log.ExecutionTime.ToString())</td>
                <td>@log.Message</td>
            </RowTemplate>
        </DataTable>
    </ListModeContent>
</EditableTable>

@functions
{
protected void OnRecordsLoaded(EditableTableBase<JobLogViewModel> ctx)
{
    ctx.Items = ctx.Items.OrderByDescending(r => r.CompletedOn).ToArray();
}
}