<EditableGrid Items="Items"
              IsReadOnly="true"
              GridTitle="Job Logs"
              ExistingTitle="Job Details"
              CancelButtonText="Back"
              OnRefresh="@(async () => await OnRefresh.InvokeAsync(null))">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items" 
                   PageSize="10"
                   TotalPages="TotalPages"
                   CurrentPage="CurrentPage"
                   IsServerPaging="true"
                   OnNextPage="OnNextPage"
                   OnPreviousPage="OnPreviousPage"
                   OrderBy="orderByConfig">
            <TableHeader>
                <th>Type</th>
                <th>Result</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Execution time</th>
            </TableHeader>
            <RowTemplate Context="log">
                <td>
                    <If Condition="log.Result == ViewModels.Types.JobExecutionResult.Successful">
                        <Then>
                            <button class="btn btn-link" @onclick="@(() => OnViewDetails(ctx, log))">@log.JobType</button>
                        </Then>
                        <Else>
                            @log.JobType
                        </Else>
                    </If>
                </td>
                <td>
                    <JobStatusBadge Status="log.Result" />
                </td>
                <td>@log.StartTime</td>
                <td>@log.EndTime</td>
                <td>@(log.EndTime.HasValue ? (log.EndTime - log.StartTime).ToString() : string.Empty)</td>
            </RowTemplate>
        </DataTable>
    </ListModeContent>
    <FormModeContent Context="ctx">
        <If Condition="@(ctx.EditingItem.JobType == "PullRequestsSyncJob")">
            <Then>
                <PullRequestJobDetail Details="@(ctx.EditingItem.Details as PullRequestJobDetails)" />
            </Then>
        </If>
    </FormModeContent>
</EditableGrid>

@code
{
    private OrderByConfiguration<JobLogViewModel>[] orderByConfig = OrderByConfigurationBuilder<JobLogViewModel>
        .New()
        .OrderByDescending(l => l.StartTime)
        .Build();

    [Parameter] IEnumerable<JobLogViewModel> Items { get; set; }
    [Parameter] EventCallback OnRefresh { get; set; }
    [Parameter] protected EventCallback OnNextPage { get; set; }
    [Parameter] protected EventCallback OnPreviousPage { get; set; }
    [Parameter] protected int CurrentPage { get; set; }
    [Parameter] protected int TotalPages { get; set; }
    [Parameter] Func<JobLogViewModel, Task<ViewModels.Types.JobDetails>> OnDetailsRequested { get; set; }


    protected async Task OnViewDetails(EditableGridBase<JobLogViewModel> context, JobLogViewModel log)
    {
        var details = await OnDetailsRequested(log);
        log.Details = details;
        context.Edit(log);
    }
}