<EditableTable TItem="JobLogViewModel"
               IsReadOnly="true"
               GridTitle="Job Logs"
               OrderByDescending="@(item => item.CompletedOn)">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items" PageSize="8">
            <TableHeader>
                <th>Type</th>
                <th>Result</th>
                <th>Completed On</th>
                <th>Execution time</th>
                <th>Message</th>
            </TableHeader>
            <RowTemplate Context="log">
                <td>@log.JobType</td>
                <td>
                    <JobStatusBadge Status="log.Result" />
                </td>
                <td>@(log.Result == ViewModels.Types.JobExecutionResult.InProgress ? string.Empty : log.CompletedOn.ToString())</td>
                <td>@(log.Result == ViewModels.Types.JobExecutionResult.InProgress ? string.Empty : log.ExecutionTime.ToString())</td>
                <td>@log.Message</td>
            </RowTemplate>
        </DataTable>
    </ListModeContent>
</EditableTable>

@functions
{
}