@inject EtherClient Client

<EditableGrid Items="Items"
              GridTitle="Profiles"
              ExistingTitle="Editing profile"
              NewTitle="New profile"
              OnSave="@(async (ProfileViewModel p) => await OnChange.InvokeAsync(p))"
              OnDelete="@(async (ProfileViewModel p) => await OnDelete.InvokeAsync(p))"
              OnRefresh="@(async () => await OnRefresh.InvokeAsync(null))">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items">
            <TableHeader>
                <th>Name</th>
                <th>Type</th>
                <th>Members</th>
                <th>Repositories</th>
            </TableHeader>
            <RowTemplate Context="profile">
                <td>@profile.Name</td>
                <td>@profile.Type</td>
                <td>@profile.Members.Count()</td>
                <td>@profile.Repositories.Count()</td>
            </RowTemplate>
            <ActionsTemplate Context="profile">
                <div>
                    <div class="dropdown btn-group" role="group">
                        <button id="btnGroupWorkItemsProfile" type="button" class="btn btn-info btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupWorkItemsProfile">
                            <button class="dropdown-item" @onclick="@(async () => await OnFetchWorkItems.InvokeAsync(profile.Members))">Fetch work items</button>
                            <button class="dropdown-item" @onclick="@(async () => await OnResetWorkItems.InvokeAsync(profile.Members))">Reset work items</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" @onclick="@(async () => await OnFetchPullRequests.InvokeAsync(profile.Members))">Fetch pull requests</button>
                            <button class="dropdown-item" @onclick="@(async () => await OnResetPullRequests.InvokeAsync(profile.Members))">Reset pull requests</button>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-fill" @onclick="@(() => ctx.Edit(profile))">Edit</button>
                    <button class="btn btn-danger btn-fill" @onclick="@(() => ctx.Delete(profile))">Delete</button>
                </div>
            </ActionsTemplate>
        </DataTable>
    </ListModeContent>
    <FormModeContent Context="ctx">
        <div class="form-group">
            <label>Name</label>
            <InputText Class="form-control" @bind-Value="ctx.EditingItem.Name" />
            <ValidationMessage For="@(() => ctx.EditingItem.Name)" />
        </div>
        <div class="form-group">
            <label>Type</label>
            <InputText Class="form-control" @bind-Value="ctx.EditingItem.Type" />
            <ValidationMessage For="@(() => ctx.EditingItem.Type)" />
        </div>
        <div class="form-group">
            <label>Members</label>
            <Ether.Components.Form.OptionsSelector Options="@MembersOptions"
                                                   @bind-Value="ctx.EditingItem.Members" />
            <ValidationMessage For="@(() => ctx.EditingItem.Members)" />
        </div>
        <div class="form-group">
            <label>Repositories</label>
            <Ether.Components.Form.OptionsSelector Options="@RepositoriesOptions"
                                                   @bind-Value="ctx.EditingItem.Repositories" />
            <ValidationMessage For="@(() => ctx.EditingItem.Repositories)" />
        </div>
    </FormModeContent>
</EditableGrid>

@code
{
    [Parameter] IEnumerable<ProfileViewModel> Items { get; set; }
    [Parameter] Dictionary<Guid, string> MembersOptions { get; set; }
    [Parameter] Dictionary<Guid, string> RepositoriesOptions { get; set; }
    [Parameter] EventCallback<ProfileViewModel> OnChange { get; set; }
    [Parameter] EventCallback<ProfileViewModel> OnDelete { get; set; }
    [Parameter] EventCallback<IEnumerable<Guid>> OnFetchWorkItems { get; set; }
    [Parameter] EventCallback<IEnumerable<Guid>> OnResetWorkItems { get; set; }
    [Parameter] EventCallback<IEnumerable<Guid>> OnFetchPullRequests { get; set; }
    [Parameter] EventCallback<IEnumerable<Guid>> OnResetPullRequests { get; set; }
    [Parameter] EventCallback OnRefresh { get; set; }
}