@inject EtherClient Client
<EditableTable TItem="VstsRepositoryViewModel"
                GridTitle="Repositories"
                NewTitle="New Repository"
                ExistingTitle="Edit Repository">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items">
            <TableHeader>
                <th>Name</th>
                <th>Project</th>
                <th>Actions</th>
            </TableHeader>
            <RowTemplate Context="repository">
                <td>@repository.Name</td>
                <td>@GetProjectName(repository.Project)</td>
                <td>
                    <div>
                        <button class="btn btn-warning btn-fill" onclick="@(() => ctx.Edit(repository))">Edit</button>
                        <button class="btn btn-danger btn-fill" onclick="@(() => ctx.Delete(repository))">Delete</button>
                    </div>
                </td>
            </RowTemplate>
        </DataTable>
    </ListModeContent>
    <FormModeContent Context="ctx">
        <ModelValidation Handler="ctx">
            <InputItem Type="text" Title="Name" bind-Value="ctx.EditingItem.Name" PropertyName="@nameof(ctx.EditingItem.Name)" />
            <SelectItem Title="Project" bind-Value="ctx.EditingItem.Project" PropertyName="@nameof(ctx.EditingItem.Project)" Options="projectsOptions" />
        </ModelValidation>
    </FormModeContent>
</EditableTable>

@functions
{
    private Dictionary<Guid, string> projectsOptions = new Dictionary<Guid, string>();

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        var projects = await Client.GetAll<VstsProjectViewModel>();
        projectsOptions.Add(Guid.Empty, Constants.NoneLabel);
        foreach (var project in projects)
        {
            projectsOptions.Add(project.Id, project.Name);
        }
    }

    private string GetProjectName(Guid projectId)
    {
        if (!projectsOptions.ContainsKey(projectId))
        {
            return "N/A";
        }

        return projectsOptions[projectId];
    }
}