<EditableTable TItem="TeamMemberViewModel"
    GridTitle="Team members"
    NewTitle="New member"
    ExistingTitle="Editing member">
    <ListModeContent Context="ctx">
        <DataTable Items="@ctx.Items" PageSize="5">
            <TableHeader>
                <th>Display Name</th>
                <th>Email</th>
                <th>Actions</th>
            </TableHeader>
            <RowTemplate Context="member">
                <td>@member.DisplayName</td>
                <td>@member.Email</td>
                <td>
                    <div>
                        <button class="btn btn-warning btn-fill" onclick="@(() => ctx.Edit(member))">Edit</button>
                        <button class="btn btn-danger btn-fill" onclick="@(() => ctx.Delete(member))">Delete</button>
                    </div>
                </td>
            </RowTemplate>
        </DataTable>
    </ListModeContent>
    <FormModeContent Context="ctx">
        <ModelValidation Handler="ctx">
            <InputItem Type="text" Title="Display name" bind-Value="ctx.EditingItem.DisplayName" PropertyName="@nameof(ctx.EditingItem.DisplayName)" />
            <InputItem Type="text" Title="Email" bind-Value="ctx.EditingItem.Email" PropertyName="@nameof(ctx.EditingItem.Email)" />
        </ModelValidation>
    </FormModeContent>
</EditableTable>