<div class="card">
    <div class="card-header">
        <h4 class="card-title">Vsts configuration</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Instance name:</label>
            <input class="form-control" type="text" bind="@VstsDataSource.InstanceName" />
        </div>
        <div class="form-group">
            <label>Default Token:</label>
            <select class="form-control" bind="@DefaultTokenValue">
                <option>None</option>
                @foreach (var identity in Identities)
                {
                    <option value="@identity.Id">@identity.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success btn-fill pull-right" onclick="@(() => OnSave(VstsDataSource))">Save</button>
    </div>
</div>


@functions
{
    [Parameter] VstsDataSourceViewModel VstsDataSource { get; set; }

    [Parameter] Func<VstsDataSourceViewModel, Task> OnSave { get; set; }

    [Parameter] IEnumerable<IdentityViewModel> Identities { get; set; }

    private string DefaultTokenValue
    {
        get
        {
            return VstsDataSource.DefaultToken?.ToString();
        }
        set
        {
            VstsDataSource.DefaultToken = string.IsNullOrEmpty(value) ? (Guid?)null : (Guid?)Guid.Parse(value);
        }
    }
}