@inherits ActiveWorkitemDetailsBase

<div class="row">
    <div class="col-4">
        <DataTable PageSize="20" Items="Workitem.Warnings">
            <TableHeader>
                <th><img src="/images/dashboard/warning.png" alt="Warnings" title="Warnings" height="16" /> Warnings</th>
            </TableHeader>
            <RowTemplate Context="warning">
                <td>@warning</td>
            </RowTemplate>
        </DataTable>
    </div>
    <div class="col-8">
        <DataTable PageSize="20" Items="FilterRelevantPullRequests(Workitem.PullRequests)">
            <TableHeader>
                <th>Id</th>
                <th>State</th>
                <th>Title</th>
                <th>Time Active</th>
                <th># of approvals</th>
            </TableHeader>
            <RowTemplate Context="pr">
                <td><a href="@pr.Url">@pr.Id</a></td>
                <td>@pr.State</td>
                <td>@pr.Title</td>
                <td>@FormatActiveTime(pr.TimeActive)</td>
                <td>@pr.NumberOfApprovals</td>
            </RowTemplate>
        </DataTable>
    </div>
</div>
