<table class="table table-small table-centered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Team)
        {
            var attendance = GetAttendance(member.Id);
            <tr>
                <td><button @onclick="@(() => FlipAttendance(member.Id))" class="btn btn-light">@member.DisplayName</button></td>
                <td><button @onclick="@(() => FlipAttendance(member.Id, 0))" class="btn @(attendance[0] ? "btn-success" : "btn-warning")">@(attendance[0] ? "V" : "OOF")</button></td>
                <td><button @onclick="@(() => FlipAttendance(member.Id, 1))" class="btn @(attendance[1] ? "btn-success" : "btn-warning")">@(attendance[1] ? "V" : "OOF")</button></td>
                <td><button @onclick="@(() => FlipAttendance(member.Id, 2))" class="btn @(attendance[2] ? "btn-success" : "btn-warning")">@(attendance[2] ? "V" : "OOF")</button></td>
                <td><button @onclick="@(() => FlipAttendance(member.Id, 3))" class="btn @(attendance[3] ? "btn-success" : "btn-warning")">@(attendance[3] ? "V" : "OOF")</button></td>
                <td><button @onclick="@(() => FlipAttendance(member.Id, 4))" class="btn @(attendance[4] ? "btn-success" : "btn-warning")">@(attendance[4] ? "V" : "OOF")</button></td>
                <td class="table-active"></td>
                <td class="table-active"></td>
            </tr>
        }
    </tbody>
</table>


@code
{
    [Parameter] IEnumerable<TeamMemberViewModel> Team { get; set; }

    [Parameter] IEnumerable<TeamAttendanceViewModel> Attendance { get; set; }

    private void FlipAttendance(Guid member, int day = -1)
    {
        var attendance = GetAttendance(member);
        if (day != -1)
        {
            attendance[day] = !attendance[day];
        }
        else
        {
            for (int i = 0; i < 5; i++)
            {
                attendance[i] = !attendance[i];
            }
        }
    }

    private bool[] GetAttendance(Guid member)
    {
        return Attendance.FirstOrDefault(a => a.MemberId == member).Attendance;
    }
}
