@inject EtherClient Client

<section id="resolved">
    <Ether.Components.Card>
        <Header>Resolved work items</Header>
        <Body>
            <DataTable Items="Report.ResolvedWorkItems" PageSize="int.MaxValue">
                <TableHeader>
                    <th>Workitem</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Estimated (Days)</th>
                    <th>Time Spent (Days)</th>
                </TableHeader>
                <RowTemplate Context="detail">
                    <td><a href="@GetWorkItemUrl(detail.WorkItemProject, detail.WorkItemId)" target="_blank">@detail.WorkItemId</a></td>
                    <td>@detail.WorkItemTitle</td>
                    <td>@detail.WorkItemType</td>
                    <td>@detail.EstimatedToComplete</td>
                    <td>@detail.TimeSpent</td>
                </RowTemplate>
                <TableFooter>
                    <tr class="table-active">
                        <th>Total:</th>
                        <td class="table-success" colspan="2">@Report.GetTotalBugs(Report.ResolvedWorkItems) bugs / @Report.GetTotalTasks(Report.ResolvedWorkItems) tasks</td>
                        <td class="table-success">@Report.GetTotalEstimated(Report.ResolvedWorkItems)</td>
                        <td class="table-success">@Report.GetTotalTimeSpent(Report.ResolvedWorkItems)</td>
                    </tr>
                </TableFooter>
            </DataTable>
        </Body>
        <Footer></Footer>
    </Ether.Components.Card>
</section>

<section id="pullrequest">
    <Ether.Components.Card>
        <Header>Work items in pull request</Header>
        <Body>
            <DataTable Items="Report.WorkItemsInReview" PageSize="int.MaxValue">
                <TableHeader>
                    <th>Workitem</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Estimated (Days)</th>
                    <th>Time Spent (Days)</th>
                </TableHeader>
                <RowTemplate Context="detail">
                    <td><a href="@GetWorkItemUrl(detail.WorkItemProject, detail.WorkItemId)" target="_blank">@detail.WorkItemId</a></td>
                    <td>@detail.WorkItemTitle</td>
                    <td>@detail.WorkItemType</td>
                    <td>@detail.EstimatedToComplete</td>
                    <td>@detail.TimeSpent</td>
                </RowTemplate>
                <TableFooter>
                    <tr class="table-active">
                        <th>Total:</th>
                        <td class="table-success" colspan="2">@Report.GetTotalBugs(Report.WorkItemsInReview) bugs / @Report.GetTotalTasks(Report.WorkItemsInReview) tasks</td>
                        <td class="table-success">@Report.GetTotalEstimated(Report.WorkItemsInReview)</td>
                        <td class="table-success">@Report.GetTotalTimeSpent(Report.WorkItemsInReview)</td>
                    </tr>
                </TableFooter>
            </DataTable>
        </Body>
        <Footer></Footer>
    </Ether.Components.Card>
</section>

<section id="active">
    <Ether.Components.Card>
        <Header>Active work items</Header>
        <Body>
            <DataTable Items="Report.ActiveWorkItems" PageSize="int.MaxValue">
                <TableHeader>
                    <th>Workitem</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Estimated (Days)</th>
                    <th>Time Spent (Days)</th>
                </TableHeader>
                <RowTemplate Context="detail">
                    <td><a href="@GetWorkItemUrl(detail.WorkItemProject, detail.WorkItemId)" target="_blank">@detail.WorkItemId</a></td>
                    <td>@detail.WorkItemTitle</td>
                    <td>@detail.WorkItemType</td>
                    <td>@detail.EstimatedToComplete</td>
                    <td>@detail.TimeSpent</td>
                </RowTemplate>
                <TableFooter>
                    <tr class="table-active">
                        <th>Total:</th>
                        <td class="table-success" colspan="2">@Report.GetTotalBugs(Report.ActiveWorkItems) bugs / @Report.GetTotalTasks(Report.ActiveWorkItems) tasks</td>
                        <td class="table-success">@Report.GetTotalEstimated(Report.ActiveWorkItems)</td>
                        <td class="table-success">@Report.GetTotalTimeSpent(Report.ActiveWorkItems)</td>
                    </tr>
                </TableFooter>
            </DataTable>
        </Body>
        <Footer></Footer>
    </Ether.Components.Card>
</section>

@code
{
    private VstsDataSourceViewModel vstsConfiguration = new VstsDataSourceViewModel();

    [Parameter] Guid Id { get; set; }

    [Parameter] WorkItemsReportViewModel Report { get; set; }

    protected override async Task OnInitAsync()
    {
        vstsConfiguration = await Client.GetVstsDataSourceConfig();
    }

    protected string GetWorkItemUrl(string project, int workItemId)
    {
        return $"https://{vstsConfiguration.InstanceName}.visualstudio.com/{project}/_workitems/edit/{workItemId}";
    }
}