@page
@model Ether.Pages.Profiles.EditModel
@inject IAll<TeamMember> TeamMembers
@inject IAll<VSTSRepository> Repositories

@{
    var membersByTeam = TeamMembers.Value.GroupBy(m => m.TeamName);
}

<h2>Edit Profile</h2>

<div class="alert alert-info" role="alert">
    <strong>Hint.</strong> Click on the repository or on the member to add them to the profile.
</div>

<form asp-page="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Profile.Name">Name:</label>
        <input asp-for="Profile.Name" class="form-control" />
        <span asp-validation-for="Profile.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <fieldset>
            <legend>Select repositories</legend>
            
            @foreach (var repo in Repositories.Value)
            {
                <label for="repo-@repo.Id">@repo.Name</label>
                <input type="checkbox" name="Profile.Repositories" value="@repo.Id" id="repo-@repo.Id" @(Model.Profile.Repositories != null && Model.Profile.Repositories.Contains(repo.Id) ? "checked" : "") />
            }
        </fieldset>
        <span asp-validation-for="Profile.Repositories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <fieldset>
            <legend>Select members</legend>
            @foreach (var member in TeamMembers.Value)
            {
                <label for="member-@member.Id">@member.DisplayName</label>
                <input type="checkbox" name="Profile.Members" value="@member.Id" id="member-@member.Id" @(Model.Profile.Members != null && Model.Profile.Members.Contains(member.Id) ? "checked" : "") />
            }
        </fieldset>
        <span asp-validation-for="Profile.Members" class="text-danger"></span>
    </div>

  <input asp-for="Profile.Id" type="hidden" />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="Index" class="btn btn-danger">Cancel</a>
</form>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').checkboxradio({
                icon: true
            });
         });
    </script>
}