@page
@model Ether.Pages.Profiles.IndexModel
@inject IAll<VSTSRepository> Repositories
@inject IAll<TeamMember> TeamMembers
@{
    ViewData["Title"] = "Profiles";
}

<h2>Profiles</h2>

<table class="table table-hover">
    <caption>Available profiles</caption>
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
                <a asp-page="Edit" class="btn btn-success">Add new</a>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Repositories</th>
            <th>Members</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model.Profiles)
        {
            <tr>
                <td>@profile.Name</td>
                <td>@string.Join(", ", Repositories.Value.Where(r => profile.Repositories.Contains(r.Id)).Select(r => r.Name))</td>
                <td>@string.Join(", ", TeamMembers.Value.Where(m => profile.Members.Contains(m.Id)).Select(m => m.DisplayName))</td>
                <td width="150">
                    <form class="form-inline" asp-page-handler="Delete" method="post">
                        <a asp-page="Edit" asp-route-id="@profile.Id" class="btn btn-primary">Edit</a>
                        <input type="hidden" value="@profile.Id" name="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.btn-danger').click(function (e) {
                var name = $(this).parents('tr').children("td:first").text();
                if (!confirm("Are you sure you want to delete profile '" + name + "'?")) {
                    e.preventDefault();
                }
             });
        });
    </script>
}
