@typeparam TItem
@inherits EditableGridBase<TItem>

<If Condition="!IsEditing">
    <Then>
        <Card Title="@GridTitle" AdditionalClasses="card-600">
            <Header>
                <div class="pull-right">
                    @if (!IsReadOnly)
                    {
                        <button class="btn btn-primary btn-fill" @onclick="@OnNew">New</button>
                    }
                    <button class="btn btn-success btn-fill" @onclick="@(async () => await OnRefresh.InvokeAsync(null))">Refresh</button>
                </div>
            </Header>
            <Body>
                <If Condition="IsLoading">
                    <Then>
                        <Spinner Text="Loading..." />
                    </Then>
                    <Else>
                        @ListModeContent(this)
                    </Else>
                </If>
            </Body>
            <Footer></Footer>
        </Card>
    </Then>
    <Else>
        <EditForm Model="EditingItem" OnValidSubmit="Save">
            <FluentValidationValidator />
            <Card AdditionalClasses="card-600">
                <Header>
                    <If Condition="@((EditingItem as ViewModelWithId).Id == Guid.Empty)">
                        <Then>@NewTitle</Then>
                        <Else>@ExistingTitle</Else>
                    </If>
                </Header>
                <Body>
                    <If Condition="IsSaving">
                        <Then>
                            <Spinner Text="Saving..." />
                        </Then>
                        <Else>
                            @FormModeContent(this)
                        </Else>
                    </If>
                </Body>
                <Footer>
                    <div class="pull-right">
                        <If Condition="!IsReadOnly">
                            <Then><button type="submit" class="btn btn-success btn-fill">Save</button></Then>
                        </If>
                        <button class="btn btn-danger btn-fill" @onclick="@Cancel">@CancelButtonText</button>
                    </div>
                </Footer>
            </Card>
        </EditForm>
    </Else>
</If>
