@typeparam TItem
@inherits DataTableBase<TItem>

@if (FilterTemplate != null)
{
    @FilterTemplate(this);
}

<table class="table">
    <thead>
        <tr>
            @TableHeader
            @if (ActionsTemplate != null)
            {
                <th class="pull-right">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @*TODO: No pagination?*@
        @if (!ItemsToShow.Any())
        {
            <p>@GetNoItemsText()</p>
        }
        @foreach (var item in ItemsToShow.Skip(PageSize * (CurrentPage - 1)).Take(PageSize))
        {
            var className = RowClass == null ? string.Empty : RowClass(item);
            <tr class="@className">
                @RowTemplate(item)
                @if (ActionsTemplate != null)
                {
                    <td class="pull-right">
                        @ActionsTemplate(item)
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        @TableFooter
        @if (ItemsCount > PageSize)
        {
            <tr>
                <td colspan="100">
                    <div class="pull-right">
                        <button class="btn btn-simple" disabled="@(CurrentPage == 1)" @onclick="@(() => PrevPage())">Prev</button>
                        <span>@CurrentPage of @TotalPages</span>
                        <button class="btn btn-simple" disabled="@(CurrentPage >= TotalPages)" @onclick="@(() => NextPage())">Next</button>
                    </div>
                </td>
            </tr>
        }
    </tfoot>
</table>