@typeparam TItem
@inherits DataTableBase<TItem>

@if (FilterTemplate != null)
{
    @FilterTemplate(this);
}

<table class="table">
    <thead>
        <tr>
            @TableHeader
            @if (ActionsTemplate != null)
            {
                <th class="pull-right">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @*TODO: No pagination?*@
        <If Condition="!ItemsToShow.Any()">
            <Then>
                <tr>
                    <td colspan="@int.MaxValue"><p>@GetNoItemsText()</p></td>
                </tr>
            </Then>
        </If>
        @foreach (var item in ItemsToShow.Skip(PageSize * (CurrentPage - 1)).Take(PageSize))
        {
            var className = RowClass == null ? string.Empty : RowClass(item);
            <tr class="@className">
                @RowTemplate(item)
                @if (ActionsTemplate != null)
                {
                    <td class="pull-right">
                        @if (RowDetailTemplate != null)
                        {
                            <button class="btn btn-success btn-fill" @onclick="@(() => ToggleDetails(item))">
                                @if (IsItemDetailsVisible(item))
                                {
                                    <i class="far fa-minus-square"></i>
                                }
                                else
                                {
                                    <i class="far fa-plus-square"></i>
                                }
                                Details
                            </button>
                        }
                        @ActionsTemplate(item)
                    </td>
                }
            </tr>
            @if (IsItemDetailsVisible(item))
            {
                <tr>
                    <td colspan="@int.MaxValue">
                        @if (RowDetailTemplate != null)
                        {
                            @RowDetailTemplate(item)
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        @TableFooter
        @if (ItemsCount > PageSize)
        {
            <tr>
                <td colspan="100">
                    <div class="pull-right">
                        <button class="btn btn-simple" disabled="@(CurrentPage == 1)" @onclick="@(() => PrevPage())">Prev</button>
                        <span>@CurrentPage of @TotalPages</span>
                        <button class="btn btn-simple" disabled="@(CurrentPage >= TotalPages)" @onclick="@(() => NextPage())">Next</button>
                    </div>
                </td>
            </tr>
        }
    </tfoot>
</table>