@inject EtherClient Client

<MatOverried.MatTable Items="Report.IndividualReports"
                      Class="mat-elevation-z5"
                      SortBy="MemberName"
                      ShowPaging="false"
                      PageSize="int.MaxValue"
                      Striped="true"
                      ShowFooter="true"
                      Style="table-layout:auto">
    <MatTableHeader>
        <th>Name</th>
        <th>Resolved</th>
        <th>Resolved bugs</th>
        <th>Resolved tasks</th>
        <th>Without ETA</th>
        <th>With Original Estimate</th>
        <th>Original Estimate (Days)</th>
        <th>Total Estimated (Days)</th>
        <th>Completed with Estimates (Days)</th>
        <th>Total Completed (Days)</th>
        <th>Estimated/Completed</th>
    </MatTableHeader>
    <MatTableRow Context="individualReport">
        <td>
            @individualReport.MemberName
            <MatIconButton Icon="@MatIconNames.Help" Class="d-print-none" OnClick="() => ShowDetails(individualReport)" />
        </td>
        <td>@individualReport.TotalResolved</td>
        <td>@individualReport.TotalResolvedBugs</td>
        <td>@individualReport.TotalResolvedTasks</td>
        <td>@individualReport.WithoutETA</td>
        <td>@individualReport.WithOriginalEstimate</td>
        <td>@individualReport.OriginalEstimated</td>
        <td>@individualReport.EstimatedToComplete</td>
        <td>@individualReport.CompletedWithEstimates</td>
        <td>@individualReport.TotalCompleted.ToString("F2")</td>
        <td>@individualReport.EstimatedToCompletedRatio.ToString("F2")</td>
    </MatTableRow>
    <MatTableFooter>
        <tr>
            <th>Total resolved:</th>
            <td colspan="2">@Report.TotalResolved</td>
            <th colspan="2">Estimated To Complete:</th>
            <td colspan="2">@Report.EstimatedToComplete.ToString("F2")</td>
        </tr>
        <tr>
            <th>Completed With Estimates:</th>
            <td colspan="2">@Report.CompletedWithEstimates.ToString("F2")</td>
            <th colspan="2">Estimated/Completed:</th>
            <td colspan="2">@Report.EstimatedToCompletedRatio.ToString("F2")</td>
        </tr>
		<tr>
			<th>Workdays:</th>
			<td colspan="6">@Report.Workdays</td>
		</tr>
    </MatTableFooter>
</MatOverried.MatTable>

@if (detailsReport != null)
{
<section>
    <MatHeadline6>Details on '@detailsReport.MemberName'</MatHeadline6>
    <div class="d-print-none pull-right d-print-none">
        <MatIconButton Icon="@MatIconNames.Close" OnClick="() => ShowDetails(null)" />
    </div>
    <MatOverried.MatTable Items="detailsReport.Details"
                          Class="mat-elevation-z5"
                          SortBy="MemberName"
                          ShowPaging="false"
                          PageSize="int.MaxValue"
                          Striped="true"
                          ShowFooter="true"
                          Style="table-layout:auto">
        <MatTableHeader>
            <th>Workitem</th>
            <th>Title</th>
            <th>Type</th>
            <th>Original Estimate (Days)</th>
            <th>Total Estimated (Days)</th>
            <th>Time Spent (Days)</th>
        </MatTableHeader>
        <MatTableRow Context="detail">
            <td>@detail.WorkItemId</td>
            <td>@detail.WorkItemTitle</td>
            <td>@detail.WorkItemType</td>
            <td>@detail.OriginalEstimate</td>
            <td>@detail.EstimatedToComplete</td>
            <td>@detail.TimeSpent</td>
        </MatTableRow>
        <MatTableFooter>
            <tr>
                <th>Total:</th>
                <td colspan="2">@detailsReport.TotalResolvedBugs bugs / @detailsReport.TotalResolvedTasks tasks</td>
                <td>@detailsReport.OriginalEstimated</td>
                <td>@detailsReport.EstimatedToComplete</td>
                <td>@detailsReport.TotalCompleted</td>
            </tr>
        </MatTableFooter>
    </MatOverried.MatTable>
</section>
}

@code
{
    [Parameter] public Guid Id { get; set; }

    [Parameter] public AggregatedWorkitemsETAReportViewModel Report { get; set; }

    private AggregatedWorkitemsETAReportViewModel.IndividualETAReport detailsReport = null;

    protected void ShowDetails(AggregatedWorkitemsETAReportViewModel.IndividualETAReport report)
    {
        detailsReport = report;
        StateHasChanged();
    }
}