@inject EtherClient Client
<MatOverried.MatTable Items="Report.IndividualReports"
          SortBy="TeamMember"
          Class="mat-elevation-z5"
          ShowPaging="false"
          PageSize="int.MaxValue"
          Striped="true"
          ShowFooter="true"
          Style="table-layout:auto">
    <MatTableHeader>
        <th>Name</th>
        <th>Created</th>
        <th>Completed</th>
        <th>Active</th>
        <th>Abandoned</th>
        <th>Iterations</th>
        <th>Avg iterations</th>
        <th>Code quality (%)</th>
        <th>Comments</th>
        <th>Avg comments</th>
        <th>Avg lifespan (days)</th>
    </MatTableHeader>
    <MatTableRow Context="individualReport">
        <td>@individualReport.TeamMember</td>
        <td>@individualReport.Created</td>
        <td>@individualReport.Completed</td>
        <td>@individualReport.Active</td>
        <td>@individualReport.Abandoned</td>
        <td>@individualReport.TotalIterations</td>
        <td>@individualReport.AverageIterations.ToString("F2")</td>
        <td>@individualReport.CodeQuality.ToString("F2")</td>
        <td>@individualReport.TotalComments</td>
        <td>@individualReport.AverageComments.ToString("F2")</td>
        <td>@individualReport.AveragePRLifespan.TotalDays.ToString("F2")</td>
    </MatTableRow>
    <MatTableFooter>
        <tr>
            <th>Total created:</th>
            <td colspan="2">@Report.TotalCreated</td>
            <th colspan="2">Avg iterations:</th>
            <td colspan="2">@Report.AverageIterations.ToString("F2")</td>
        </tr>
        <tr>
            <th>Total completed:</th>
            <td colspan="2">@Report.TotalCompleted</td>
            <th colspan="2">Avg comments:</th>
            <td colspan="2">@Report.AverageComments.ToString("F2")</td>
        </tr>
        <tr>
            <th>Total active:</th>
            <td colspan="2">@Report.TotalActive</td>
            <th colspan="2">Code quality:</th>
            <td colspan="2">@Report.CodeQuality.ToString("F2")</td>
        </tr>
        <tr>
            <th>Total abandoned:</th>
            <td colspan="2">@Report.TotalAbandoned</td>
            <th colspan="2">Avg lifespan:</th>
            <td colspan="2">@Report.AveragePRLifespan.TotalDays.ToString("F2")</td>
        </tr>
    </MatTableFooter>
</MatOverried.MatTable>

@code
{
    [Parameter] public Guid Id { get; set; }

    [Parameter] public PullRequestReportViewModel Report { get; set; }
}