@inject EtherClient Client

<section id="ReopenedTeamStats">
    <Ether.Components.Card Title="By Member">
        <Body>
            <DataTable Items="Report.MembersLookup" PageSize="int.MaxValue">
                <TableHeader>
                    <th>Member</th>
                    <th># of reopened bugs</th>
                    <th># of resolved bugs</th>
                </TableHeader>
                <RowTemplate Context="member">
                    <td>@member.Value</td>
                    <td>@Report.GetRepopenedCount(member.Key)</td>
                    <td>@Report.GetResolvedCount(member.Key)</td>
                </RowTemplate>
                <TableFooter>
                    <tr>
                        <th class="table-active">Total:</th>
                        <td class="table-success">@Report.TotalReopened</td>
                        <td class="table-success">@Report.TotalResolved</td>
                    </tr>
                </TableFooter>
            </DataTable>
        </Body>
    </Ether.Components.Card>
</section>
<section id="ReopenedWIList">
    <Ether.Components.Card Title="Work items list">
        <Body>
            <DataTable Items="Report.Details.OrderBy(d => d.AssociatedUser.Title)" PageSize="int.MaxValue">
                <TableHeader>
                    <th>Workitem</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>User</th>
                </TableHeader>
                <RowTemplate Context="detail">
                    <td><a href="@GetWorkItemUrl(detail.WorkItemProject, detail.WorkItemId)" target="_blank">@detail.WorkItemId</a></td>
                    <td>@detail.WorkItemTitle</td>
                    <td>@detail.WorkItemType</td>
                    <td>@detail.ReOpenedDate</td>
                    <td>@detail.AssociatedUser.Title</td>
                </RowTemplate>
                <TableFooter>
                    <tr>
                        <th class="table-active">Total:</th>
                        <td class="table-success" colspan="4">@Report.TotalReopened</td>
                    </tr>
                </TableFooter>
            </DataTable>
        </Body>
    </Ether.Components.Card>
</section>

@code {

    private VstsDataSourceViewModel vstsConfiguration = new VstsDataSourceViewModel();

    [Parameter] public Guid Id { get; set; }

    [Parameter] public ReOpenedWorkItemsReportViewModel Report { get; set; }

    protected string GetWorkItemUrl(string project, int workItemId)
    {
        return $"https://{vstsConfiguration.InstanceName}.visualstudio.com/{project}/_workitems/edit/{workItemId}";
    }
    
    // HACK: Presentetional component should not query services
    protected override async Task OnInitializedAsync()
    {
        vstsConfiguration = await Client.GetVstsDataSourceConfig();
    }
}
