@inject EtherClient Client

<section id="ReopenedTeamStats">
    <MatHeadline6>By Member</MatHeadline6>
    <MatOverried.MatTable Items="Report.MembersLookup"
              Class="mat-elevation-z5"
              ShowPaging="false"
              PageSize="int.MaxValue"
              Striped="true"
              ShowFooter="true"
              Style="table-layout:auto">
        <MatTableHeader>
            <th>Member</th>
            <th># of reopened bugs</th>
            <th># of resolved bugs</th>
        </MatTableHeader>
        <MatTableRow Context="member">
            <td>@member.Value</td>
            <td>@Report.GetRepopenedCount(member.Key)</td>
            <td>@Report.GetResolvedCount(member.Key)</td>
        </MatTableRow>
        <MatTableFooter>
            <tr>
                <th>Total:</th>
                <td>@Report.TotalReopened</td>
                <td>@Report.TotalResolved</td>
            </tr>
        </MatTableFooter>
    </MatOverried.MatTable>
</section>
<section id="ReopenedWIList">
    <MatHeadline6>Work items list</MatHeadline6>
    <MatOverried.MatTable Items="Report.Details"
              Class="mat-elevation-z5"
              ShowPaging="false"
              PageSize="int.MaxValue"
              Striped="true"
              ShowFooter="true"
              Style="table-layout:auto">
        <MatTableHeader>
            <th>Workitem</th>
            <th>Title</th>
            <th>Type</th>
            <th>Date</th>
            <th>User</th>
        </MatTableHeader>
        <MatTableRow Context="detail">
            <td><a href="@GetWorkItemUrl(detail.WorkItemProject, detail.WorkItemId, detail.WorkItemOrganization)" target="_blank">@detail.WorkItemId</a></td>
            <td>@detail.WorkItemTitle</td>
            <td>@detail.WorkItemType</td>
            <td>@detail.ReOpenedDate</td>
            <td>@detail.AssociatedUser.Title</td>
        </MatTableRow>
        <MatTableFooter>
            <tr>
                <th>Total:</th>
                <td colspan="4">@Report.TotalReopened</td>
            </tr>
        </MatTableFooter>
    </MatOverried.MatTable>
</section>

@code {

    private OrganizationViewModel vstsConfiguration = new OrganizationViewModel();

    [Parameter] public Guid Id { get; set; }

    [Parameter] public ReOpenedWorkItemsReportViewModel Report { get; set; }

    protected string GetWorkItemUrl(string project, int workItemId, string workitemOrganization)
    {
        return $"https://dev.azure.com/{workitemOrganization}/{project}/_workitems/edit/{workItemId}";
    }

    // HACK: Presentetional component should not query services
    protected override async Task OnInitializedAsync()
    {
        //vstsConfiguration = await Client.GetById<OrganizationViewModel>();
    }
}
