<MatHeadline4>Reports</MatHeadline4>
<MatButton Icon="@MatIconNames.Refresh" Dense="true">Refresh</MatButton>
<MatTable Items="Props.Reports" Class="mat-elevation-z5" AllowSelection="true" PageSize="10" Striped="true" Style="table-layout:auto">
    <MatTableHeader>
        <th>Name</th>
        <th>Taken</th>
        <th>Profile</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
    </MatTableHeader>
    <MatTableRow Context="report">
        <td>@report.ReportName</td>
        <td>@report.DateTaken</td>
        <td>@report.ProfileName</td>
        <td>@report.StartDate</td>
        <td>@report.EndDate</td>
        <td>
            <div>
                <MatIconButton Icon="@MatIconNames.Folder_open" OnClick="() => Props.OnView.InvokeAsync(report)" />
                <MatIconButton Icon="@MatIconNames.Delete" OnClick="() => Props.OnDelete.InvokeAsync(report)" />
            </div>
        </td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter] public ReportsListProps Props { get; set; }
}
