<RichTable Items="Props.Reports"
           GridTitle="Reports"
           ShowAdd="false"
           OnRefresh="Props.OnRefresh">
    <TableHeader>
        <th>Name</th>
        <th>Taken</th>
        <th>Profile</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
    </TableHeader>
    <TableBody Context="ctx">
        <td>@ctx.CurrentItem.ReportName</td>
        <td>@ctx.CurrentItem.DateTaken</td>
        <td>@ctx.CurrentItem.ProfileName</td>
        <td>@ctx.CurrentItem.StartDate</td>
        <td>@ctx.CurrentItem.EndDate</td>
        <td>
            <div>
                <MatIconButton Icon="@MatIconNames.Folder_open" OnClick="() => Props.OnView.InvokeAsync(ctx.CurrentItem)" />
                <MatIconButton Icon="@MatIconNames.Delete" OnClick="() => Props.OnDelete.InvokeAsync(ctx.CurrentItem)" />
            </div>
        </td>
    </TableBody>
</RichTable>

@code {
    [Parameter] public ReportsListProps Props { get; set; }
}
