<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" asp-page="Index">Ether Reports</a>
    </div>
    <nav class="collapse navbar-collapse" id="mainNavigation">
        <ul class="nav navbar-nav">
            <li class="@ActiveCSSClass("Home")"><a asp-page="/Index">Home @ActiveAccessibilityMarker("Home") </a></li>
            <li class="@ActiveCSSClass("Reports")"><a asp-page="/Reports/Index">Reports @ActiveAccessibilityMarker("Reports")</a></li>
            <li class="@ActiveCSSClass("Profiles")"><a asp-page="/Profiles/Index">Profiles @ActiveAccessibilityMarker("Profiles")</a></li>
            <li role="presentation" class="dropdown @ActiveCSSClass("Settings")">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Settings @ActiveAccessibilityMarker("Settings") <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/Settings/Index">General</a></li>
                    <li><a asp-page="/Settings/TeamMembers">Team Members</a></li>
                    <li><a asp-page="/Settings/Projects">Projects</a></li>
                    <li><a asp-page="/Settings/Repositories">Repositories</a></li>
                </ul>
            </li>
        </ul>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">@User.Identity.Name</a></p>
    </nav>
</div>


@functions {
    public Microsoft.AspNetCore.Html.IHtmlContent ActiveAccessibilityMarker(string menu)
    {
        return IsActive(menu) ? Html.Raw("<span class='sr-only'>(current)</span>") : Html.Raw("");
    }

    public string ActiveCSSClass(string menu)
    {
        return IsActive(menu) ? "active" : "";
    }

    private bool IsActive(string menu)
    {
        var currentMenu = ViewData["CurrentMenu"] as string;
        return !string.IsNullOrEmpty(currentMenu) && string.Equals(currentMenu, menu, StringComparison.OrdinalIgnoreCase);
    }
}