@page "/reports"
@page "/reports/{id:guid}"
@inject EtherClient Client
@inject IUriHelper UriHelper


<EditableTable TItem="ReportViewModel"
               GridTitle="Reports"
               IsReadOnly="true">
    <ListModeContent Context="ctx">
        <DataTable Items="ctx.Items" PageSize="8">
            <TableHeader>
                <th>Name</th>
                <th>Taken</th>
                <th>Profile</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </TableHeader>
            <RowTemplate Context="report">
                <td>@report.ReportName</td>
                <td>@report.DateTaken</td>
                <td>@report.ProfileName</td>
                <td>@report.StartDate</td>
                <td>@report.EndDate</td>
                <td>
                    <div>
                        <button class="btn btn-success btn-fill" onclick="@(() => View(report))">View</button>
                        <button class="btn btn-danger btn-fill" onclick="@(() => ctx.Delete(report))">Delete</button>
                    </div>
                </td>
            </RowTemplate>
        </DataTable>
    </ListModeContent>
</EditableTable>

@functions
{
    protected void View(ReportViewModel model)
    {
        UriHelper.NavigateTo($"/reports/view/{model.ReportType}/{model.Id}");
    }
}