@model PullRequestsReport

<table class="table table-hover table-bordered">
    <caption>Report on @Model.ProfileName, from @Model.StartDate.ToString("MM/dd/yyyy") to @Model.EndDate.ToString("MM/dd/yyyy")</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total PRs</th>
            <th>Total iterations</th>
            <th>Avg iterations</th>
            <th>Code quality (%)</th>
            <th>Total comments</th>
            <th>Avg comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.IndividualReports)
        {
            <tr>
                <td>@report.TeamMember</td>
                <td>@report.TotalPRs</td>
                <td>@report.TotalIterations</td>
                <td>@report.AverageIterations.ToString("F2")</td>
                <td>@report.CodeQuality.ToString("F2")</td>
                <td>@report.TotalComments</td>
                <td>@report.AverageComments</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="active">
            <th>Total PRs:</th>
            <td class="success">@Model.TotalPRs</td>
        </tr>
        <tr class="active">
            <th>Avg iterations:</th>
            <td class="success">@Model.AverageIterations</td>
        </tr>
        <tr class="active">
            <th>Avg comments:</th>
            <td class="success">@Model.AverageComments</td>
        </tr>
        <tr class="active">
            <th>Code quality:</th>
            <td class="success">@Model.CodeQuality</td>
        </tr>
    </tfoot>
</table>