@model PullRequestsReport

<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">@Model.ReportName for '@Model.ProfileName'</h3>
        <span class="pull-right">
            <a class="btn btn-default hidden-print" onclick="window.print();"><img src="~/images/print.png" height="24" />Print</a>
            <a asp-page-handler="ToExcel" asp-route-id="@Model.Id" class="btn btn-default hidden-print">
            <img src="~/images/Excel.png" height="24" />Export to Excel</a>
        </span>
    </div>
    <div class="box-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Completed</th>
                    <th>Active</th>
                    <th>Abandoned</th>
                    <th>Iterations</th>
                    <th>Avg iterations</th>
                    <th>Code quality (%)</th>
                    <th>Comments</th>
                    <th>Avg comments</th>
                    <th>Avg lifespan (days)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model.IndividualReports)
                {
                    <tr>
                        <td>@report.TeamMember</td>
                        <td>@report.Created</td>
                        <td>@report.Completed</td>
                        <td>@report.Active</td>
                        <td>@report.Abandoned</td>
                        <td>@report.TotalIterations</td>
                        <td>@report.AverageIterations.ToString("F2")</td>
                        <td>@report.CodeQuality.ToString("F2")</td>
                        <td>@report.TotalComments</td>
                        <td>@report.AverageComments.ToString("F2")</td>
                        <td>@report.AveragePRLifespan.TotalDays.ToString("F2")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="active">
                    <th>Total created:</th>
                    <td class="success" colspan="2">@Model.TotalCreated</td>
                    <th colspan="2">Avg iterations:</th>
                    <td class="success" colspan="2">@Model.AverageIterations.ToString("F2")</td>
                </tr>
                <tr class="active">
                    <th>Total completed:</th>
                    <td class="success" colspan="2">@Model.TotalCompleted</td>
                    <th colspan="2">Avg comments:</th>
                    <td class="success" colspan="2">@Model.AverageComments.ToString("F2")</td>
                </tr>
                <tr class="active">
                    <th>Total active:</th>
                    <td class="success" colspan="2">@Model.TotalActive</td>
                    <th colspan="2">Code quality:</th>
                    <td class="success" colspan="2">@Model.CodeQuality.ToString("F2")</td>
                </tr>
                <tr class="active">
                    <th>Total abandoned:</th>
                    <td class="success" colspan="2">@Model.TotalAbandoned</td>
                    <th colspan="2">Avg lifespan:</th>
                    <td class="success" colspan="2">@Model.AveragePRLifespan.TotalDays.ToString("F2")</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="box-footer">
        <span>Range: @Model.StartDate.ToString("MM/dd/yyyy") - @Model.EndDate.ToString("MM/dd/yyyy")</span>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Chart</h3>
        <div class="box-tools pull-right hidden-print">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="chart">
            <canvas id="barChart" style="height:500px"></canvas>
        </div>
    </div>
</div>

<script capture="@nameof(ReportResult)">
        var barChartData = {
        labels: [@Html.Raw(string.Join(",", Model.IndividualReports.Select(r => $"'{r.TeamMember}'")))],
        datasets: [
            {
                label: 'Created',
                backgroundColor: 'rgba(60,141,188,0.9)',
                data: [@string.Join(",", Model.IndividualReports.Select(r => r.Created))]
            },
            {
                label: 'Completed',
                backgroundColor: '#00a65a',
                data: [@string.Join(",", Model.IndividualReports.Select(r => r.Completed))]
            },
            {
                label: 'Active',
                backgroundColor: 'rgba(0,0,188,0.9)',
                data: [@string.Join(",", Model.IndividualReports.Select(r => r.Active))]
            },
            {
                label: 'Abandoned',
                backgroundColor: 'rgba(200,0,0,0.9)',
                data: [@string.Join(",", Model.IndividualReports.Select(r => r.Abandoned))]
            }
        ]
    };

    function createChart() {
        var barChartCanvas = $('#barChart').get(0).getContext('2d');
        var barChart = new Chart(barChartCanvas, {
            type: 'bar',
            data: barChartData
        });
    }

    $(document).ready(function () { createChart(); });
</script>
<script capture="@nameof(ReportResult)" priority="1" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
