@model WorkItemsReport
@{
    var workItems = Model.Resolutions
        .OrderBy(w => w.Resolution)
        .OrderBy(w => w.Reason)
        .OrderBy(r => r.MemberEmail);

    var workItemsByReason = Model.Resolutions.GroupBy(w => w.Reason);
}
<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">@Model.ReportName for '@Model.ProfileName'</h3>
        <a class="btn btn-default hidden-print pull-right" onclick="window.print();">Print</a>
    </div>
    <div class="box-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Resolution</th>
                    <th>Resolved by</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in workItems)
                {
                    <tr>
                        <td>@report.WorkItemType</td>
                        <td>@report.WorkItemId</td>
                        <td>@report.WorkItemTitle</td>
                        <td width="140">@report.Reason</td>
                        <td>@report.MemberName</td>
                    </tr>
                }
            </tbody>
            <tfoot>

                <tr class="active">
                    
                    <th colspan="2"><strong>Total</strong> - @workItems.Count()</th>
                    <td class="success" colspan="1">
                        <ul class="list-inline">
                            @foreach (var byReason in workItemsByReason)
                            {
                                <li><strong>@byReason.Key</strong> - @byReason.Count()</li>
                            }
                        </ul>
                    </td>
                    <td colspan="2">
                        <div><strong>Tasks</strong> - @workItems.Count(w=>w.WorkItemType == "Task")<div>
                        <div><strong>Bugs</strong> - @workItems.Count(w=>w.WorkItemType == "Bug")<div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="box-footer">
        <span>Range: @Model.StartDate.ToString("MM/dd/yyyy") - @Model.EndDate.ToString("MM/dd/yyyy")</span>
    </div>
</div>
