@model WorkItemsReport
@{
    var workItems = Model.Resolutions
        .OrderBy(w => w.Resolution)
        .OrderBy(w => w.Reason)
        .OrderBy(r => r.MemberEmail);

    var workItemsByReason = Model.Resolutions.GroupBy(w => w.Reason);
 }

<table class="table table-hover table-bordered">
    <caption>Resolved work items</caption>
    <thead>
        <tr>
            <th>Type</th>
            <th>Id</th>
            <th>Title</th>
            <th>Resolution</th>
            <th>Resolved by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in workItems)
        {
            <tr>
                <td>@report.WorkItemType</td>
                <td>@report.WorkItemId</td>
                <td>@report.WorkItemTitle</td>
                <td width="140">@report.Reason</td>
                <td>@report.MemberName</td>
            </tr>
        }
    </tbody>
    <tfoot>

        <tr class="active">
            <th colspan="2"><strong>Total</strong> - @workItems.Count()</th>
            <td class="success" colspan="3">
                <ul class="list-inline">
                    @foreach (var byReason in workItemsByReason)
                    {
                        <li><strong>@byReason.Key</strong> - @byReason.Count()</li>
                    }
                </ul>
            </td>
        </tr>
    </tfoot>
</table>

