@page
@model Ether.Pages.Home.IndexModel
@inject IEnumerable<IReporter> Reporters
@inject IAll<Profile> Profiles

@{
    var allProfiles = Profiles.Value.Select(p => new SelectListItem { Text = p.Name, Value = p.Id.ToString() });
    var allReporters = Reporters.Select(r => new SelectListItem { Text = r.Name, Value = r.Id.ToString() });
}
<div class="box box-default">
    <div class="box-body">
        <form asp-page-handler="Report" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <fieldset>
                    <legend>Select profiles</legend>
                    @foreach (var profile in Profiles.Value)
                    {
                        <label for="repo-@profile.Id">@profile.Name</label>
                        <input type="checkbox" name="ReportRequest.Profiles" value="@profile.Id" id="repo-@profile.Id" @(Model.ReportRequest.Profiles != null && Model.ReportRequest.Profiles.Contains(profile.Id) ? "checked" : "") />
                    }
                </fieldset>
                <span asp-validation-for="ReportRequest.Profiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportRequest.Report">Report:</label>
                <select asp-for="ReportRequest.Report" asp-items="@allReporters" class="form-control"></select>
                <span asp-validation-for="ReportRequest.Report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="reportrange">Date range:</label>
                <input id="reportrange" name="reportrange" class="form-control" />
                <span asp-validation-for="ReportRequest.StartDate" class="text-danger"></span>
                <span asp-validation-for="ReportRequest.EndDate" class="text-danger"></span>
                <input id="StartDate" asp-for="ReportRequest.StartDate" type="hidden" />
                <input id="EndDate" asp-for="ReportRequest.EndDate" type="hidden" />
            </div>
            <button id="generateReportBtn" type="submit" class="btn btn-success">Create a report</button>
        </form>
    </div>
</div>

<div id="loadingModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Generating report</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div id="progressBar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">Your report is being generated, please wait&hellip;</span>
                    </div>
                </div>
                <p>Your report is being generated, please wait&hellip;</p>
                <textarea id="progressReport" readonly style="resize:none; width:100%; height:200px;"></textarea>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script type="text/javascript" src="~/lib/signalr/signalr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').checkboxradio({
                icon: true
            });
            configureDateSelectors();
            var currentProgress = 0;
            $('form').submit(function (e) {
                if ($(this).valid()) {
                    currentProgress = 0;
                    $('#loadingModal').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                }
            });

            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/liveupdates', signalR.HttpTransportType.LongPolling)
                .build();

            connection.on('update', function (message, moveProgressBy) {
                console.log('received: ' + message + '; progress update: ' + moveProgressBy);
                var reportArea = $('#progressReport');
                reportArea.append(message + '\n');
                reportArea.scrollTop(reportArea[0].scrollHeight);
                var totalWidth = $('.progress').width();
                var moveBy = (totalWidth * moveProgressBy) / 100;
                var bar = $('#progressBar');
                currentProgress = currentProgress + moveBy;
                bar.width(currentProgress);
                var currentPercent = Math.round((currentProgress * 100) / totalWidth);
                bar.attr('aria-valuenow', currentPercent);
                bar.text(currentPercent + '%')
                console.log('Total width: ' + totalWidth + '; moveBy: ' + moveBy + '; updated width: ' + currentProgress);
            });

            connection.on('reset', function () {
                console.log('reseting progress');
                currentProgress = 0;
                var bar = $('#progressBar');
                bar.width(currentProgress);
                bar.attr('aria-valuenow', 0);
                bar.text(0 + '%')
            });

            connection.start();

        });

        function setDateRange(start, end) {
            $('#StartDate').val(start);
            $('#EndDate').val(end);
        }

        function configureDateSelectors() {

            var preSelectedStartDate = '@(Model.ReportRequest.StartDate)';
            var preSelectedEndDate = '@(Model.ReportRequest.EndDate)';

            var start = preSelectedStartDate === '' ? moment().subtract(6, 'days').format('MM/DD/YYYY') : moment(preSelectedStartDate).format('MM/DD/YYYY');
            var end = preSelectedEndDate === '' ? moment().format('MM/DD/YYYY') : moment(preSelectedEndDate).format('MM/DD/YYYY');

            setDateRange(start, end);
            $('#reportrange').daterangepicker({
                "autoApply": true,
                ranges: {
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'Last Quater': [moment().subtract(3, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                },
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end,
                "minDate": moment().subtract(6, 'month'),
                "maxDate": moment().add(1, 'days'),
                "opens": "right"
            }, function (start, end, label) {
                setDateRange(start.format('MM/DD/YYYY'), end.format('MM/DD/YYYY'));
            });
        }
    </script>
}