<RichTable Items="Props.Items"
           GridTitle="Repositories"
           FormTitle="Edit repository"
           OnSaveEdit="Props.OnSave"
           OnCancelEdit="Props.OnRefresh"
           OnRefresh="Props.OnRefresh">
    <TableHeader>
        <th>Name</th>
        <th>Project</th>
        <th></th>
    </TableHeader>
    <TableBody Context="ctx">
        <td>@ctx.CurrentItem.Name</td>
        <td>@GetProjectName(ctx.CurrentItem.Project)</td>
        <td>
            <div>
                <MatButton Label="Edit" Icon="@MatIconNames.Edit" Dense="true" OnClick="() => ctx.Edit()" />
                <DeleteButton OnDelete="async () => await Props.OnDelete.InvokeAsync(ctx.CurrentItem)" />
            </div>
        </td>
    </TableBody>
    <FormBody Context="ctx">
        <p>
            <MatTextField @bind-Value="ctx.CurrentItem.Name" Label="Name" FullWidth="true" />
            <ValidationMessage For="@(() => ctx.CurrentItem.Name)" />
        </p>
        <p>
            <SelectControl @bind-Value="ctx.CurrentItem.Project"
                           Options="Props.ProjectsOptions"
                           KeyToString="k => k.ToString()"
                           StringToKey="s => Guid.Parse(s)"
                           Label="Project" />
            <ValidationMessage For="@(() => ctx.CurrentItem.Project)" />
        </p>
    </FormBody>
</RichTable>

@code
{
    [Parameter] public RepositoriesProps Props { get; set; }

    private string GetProjectName(Guid projectId)
    {
        var project = Props.ProjectsOptions.FirstOrDefault(i => i.Value == projectId);
        if (project is null)
        {
            return "N/A";
        }

        return project.Name;
    }
}