@page
@model Ether.Pages.Settings.IndexModel
@inject IAll<Profile> Profiles
@{
    var retentionOptions = new[]
    {
        new SelectListItem {Text = "", Value = null},
        new SelectListItem {Text = "1 week", Value = TimeSpan.FromDays(7).ToString() } ,
        new SelectListItem {Text = "2 weeks", Value = TimeSpan.FromDays(14).ToString() } ,
        new SelectListItem {Text = "1 month", Value = TimeSpan.FromDays(30).ToString() } ,
        new SelectListItem {Text = "2 months", Value = TimeSpan.FromDays(60).ToString() },
        new SelectListItem {Text = "3 months", Value = TimeSpan.FromDays(90).ToString() } ,
        new SelectListItem {Text = "6 months", Value = TimeSpan.FromDays(180).ToString() } ,
    };
    var allProfiles = Profiles.Value.Select(p => new SelectListItem { Text = p.Name, Value = p.Id.ToString(), Selected = p.Id == Model.Settings.TeamProfile });
}
<form asp-page="Index" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Work items</h3>
                </div>
                <div class="box-body">
                    <section id="workitems">
                        <div class="form-group">
                            <input asp-for="Settings.DisableWorkitemsJob" />
                            <label asp-for="Settings.DisableWorkitemsJob">Disable work items job</label>
                        </div>
                        <div class="form-group">
                            <label>Keep workitems not older than</label>
                            <select asp-for="Settings.KeepLastWorkItems" asp-items="@retentionOptions" class="form-control"></select>
                            <span asp-validation-for="Settings.KeepLastWorkItems" class="text-danger"></span>
                        </div>
                        @*@foreach (var field in Model.Settings.ETAFields)
                        {
                            <div class="form-group">
                                <label>@field.WorkitemType + " - " + @field.FieldType</label>
                                <input asp-for="Settings.DisableWorkitemsJob" />
                            </div>
                        }*@
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Pull requests</h3>
                </div>
                <div class="box-body">
                    <section id="workitems">
                        <div class="form-group">
                            <input asp-for="Settings.DisablePullRequestsJob" />
                            <label asp-for="Settings.DisablePullRequestsJob">Disable pull requests job</label>
                        </div>
                        <div class="form-group">
                            <label>Keep workitems not older than</label>
                            <select asp-for="Settings.KeepLastPullRequests" asp-items="@retentionOptions" class="form-control"></select>
                            <span asp-validation-for="Settings.KeepLastPullRequests" class="text-danger"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Reports</h3>
                </div>
                <div class="box-body">
                    <section id="reports">
                        <div class="form-group">
                            <label>Keep reports not older than</label>
                            <select asp-for="Settings.KeepLastReports" asp-items="@retentionOptions" class="form-control"></select>
                            <span asp-validation-for="Settings.KeepLastReports" class="text-danger"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Personal</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="Settings.TeamProfile">My team profile:</label>
                        <select asp-for="Settings.TeamProfile" asp-items="@allProfiles" class="form-control"></select>
                        <span asp-validation-for="Settings.TeamProfile" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Save" />
    <input type="reset" class="btn btn-danger" value="Cancel" />
</form>